### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### JAR Files ###
*.jar
!libs/*.jar
*.iml
tempCodeRunnerFile.java
.idea/
/fr/
/index-files/
/legal/
/script-dir/
/allclasses-index.html
/allpackages-index.html
/constant-values.html
/element-list
/help-doc.html
/index.html
/link.svg
/member-search-index.js
/module-search-index.js
/overview-tree.html
/package-search-index.js
/search-page.js
/search.html
/search.js
/serialized-form.html
/stylesheet.css
/tag-search-index.js
/type-search-index.js
